.custom-card {
  outline: 2px solid grey;
  border-radius: 70pt;
  padding: 20px 25px 10px 25px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #daeaeb;
  vertical-align: middle;
}

.image {
  height: 60px;
  width: 60px;
  margin-left: 15px;
}

.text {
  margin-left: 30px;
  text-align: left;
}
